<template>
    <div class="full-height flex-container flex-vertical">
        <div class="modal-wrapper flex-container flex-center" v-if="showSpinner || success != null" @click="success = null">
            <div class="modal-inside">
                <div v-if="success === true" class="text-center">
                    <h1>Success!</h1>
                    <a :href="next" class="btn btn-primary">NEXT</a>
                </div>
                <h1 v-if="success === false">Try again.</h1>
                <h1 v-if="success == null">Processing...</h1>
            </div>
        </div>
        <div v-if="scenario" class="scenario">{{ scenario }}</div>
        <div class="flex-container flex-horizontal full-height">
            <div class="instructions flex-2 flex-container flex-vertical full-height">
                <div class="margin-10 padding-bottom-10 padding-right-10 padding-left-10">
                    <h3>Instructions</h3>
                    <div v-html="preamble"></div>
                </div>
                <div class="flex-1">
                    <p></p>
                </div>
                <div class="text-center">
                    <input type="submit" name="submit" value="Submit" class="btn btn-default btn-submit margin-bottom-10" @click.prevent="submit"/>
                </div>
            </div>

            <div class="flex-3 flex-container flex-vertical">
                <div class="editor-instructions">
                    Enter your code here.
                </div>
                <div class="editor flex-1">
                    <div id="editor">{{ startingPoint }}{{ input }}{{"\n"}}</div>
                </div>
            </div>

            <div class="flex-2 results">
                <div class="flex-container flex-vertical">
                    <div class="flex-1">
                        <h2>Expected Results</h2>
                        <div class="pretty">{{ expectedResult }}</div>
                    </div>
                    <div class="flex-1">
                        <h2>Results</h2>
                        <div class="pretty" v-html="output"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
window.ed = false

export default {
    props: ['expectedResult', 'input', 'preamble', 'startingPoint', 'scenario'],
    data() {
        return {
            output: '',
            success: null,
            showSpinner: false,
            next: ''
        }
    },
    methods: {
        submit() {
            let content = ed.getValue();
            this.showSpinner = true
            axios.post(location.href, {
                code: content
            }).then(response => {
                this.output = response.data.output
                this.success = response.data.success
                this.next = response.data.nextRoute
                this.showSpinner = false
            }).catch(e => {
                this.showSpinner = false
                alert('There was a problem with the server. Get Cameron.')
            })
        }
    },
    mounted() {
        ed = ace.edit("editor");
        ed.getSession().setMode('ace/mode/php');
        ed.setTheme('ace/theme/monokai');
        ed.getSession().on('change', e => {
            console.log('changed editor')
            this.$emit('editor changed')
        });
        ed.commands.addCommand({
            name: 'save',
            bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            exec: ed => {
                console.log('saving')
                this.submit()
            },
            readOnly: true // false if this command should not apply in readOnly mode
        });
    }
}
</script>
